{% extends "base.html" %}

{% load staticfiles %}

{% block css %}
{{ block.super }}
<link href="{%  static 'css/style.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
<div class="castCol row grey9box">
{% for character in object.characters %}
<div class="span3 greyAbox">
  <div class="characterCol row greyCbox">
    <div class="media">
      <div class="pull-left">
        <img class="media-object" src="{{ character.image }}"/>
      </div>
      <div class="text-center namePadding">
        <h4>{{ character.name }}</h4>
      </div>
    </div>
  </div>
  {% for points, actor in character.actors_ordered %}
    <div class="characterCol row greyFbox {% if forloop.counter0 > 6 %}hide{% endif %}">
      <div class="media" title="{{ points }}">
        {% if forloop.counter0 < 3  %}
        <div class="pull-left">
          <img class="media-object" src="{{ actor.image }}"/>
        </div>
        {% endif %}
        <div class="text-center namePadding">
          <h4>{{ actor.name }}</h4>
        </div>
        <div class="mediaContent">
          <div class="center span2">
            <div class="upvote pull-left"></div>
            <div class="downvote pull-left"></div>
            <div class="points pull-left">{{ points }}</div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  {% if character.actors|length > 6  %}
    <div class="row greyFbox">
      <div class="btn">Show More</div>
    </div>
  {% endif %}
  </div>
{% endfor %}
</div>
{% endblock content %}
