{% extends "base.html" %}

{% load staticfiles %}

{% block css %}
{{ block.super }}
<link href="{%  static 'css/style.css' %}" rel="stylesheet">
{% endblock css %}

{% block js_head %}
{{ block.super }}
<script src="{% static 'js/overlay.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
{% endblock js_head %}

{% block ng_app %}casting.app.resource{% endblock ng_app %}

{% block content %}
<div class="row grey9box">
  <div class="row greyCbox">
      <a href="{% url 'project-list' %}">
          &laquo; Back
      </a>
  </div>
  <div class="row greyFbox">
      <div class="greyCbox pull-left">
          {{ object.origin }} : {{ object.origin_title}}
      </div>
      <div class="greyCbox pull-left"> 
          {{ object.derivation }} : {{ object.derived_title }}
      </div>
  </div>
</div>
{% verbatim %}
<div class="castCol row grey9box" ng-controller="CastingController">
  <div class="span3 greyAbox staticCol" 
    ng-repeat="character in characters| orderBy:'order'" >
    <div class="characterCol row greyCbox">
      <div class="media">
        <div class="pull-left">
          <img class="media-object" src="{{ character.image }}"/>
        </div>
        <div class="text-center namePadding">
          <h4>{{ character.name }}</h4>
        </div>
      </div>
    </div>
    <div class="characterCol row greyFbox" 
      ng-repeat="prospect in character.prospects | orderBy:'-total'">
      <div class="media" title="{{ prospect.actor.name }}">
        <div class="pull-left">
          <img class="media-object" src="{{ prospect.actor.image }}"/>
        </div>
        <div class="text-center namePadding">
          <h4>{{ prospect.actor.name }}</h4>
        </div>
        <div class="mediaContent">
          <div class="center voteWidth">
            <div ng-show="!prospect.has_upvoted" 
              class="upvote pull-left"
              ng-click="vote(character.slug, prospect.slug, 1)"></div>
            <div ng-show="prospect.has_upvoted" 
              class="upvote pull-left upvote_highlight"
              ng-click="vote(character.slug, prospect.slug, 0)"></div>

            <div ng-show="prospect.has_downvoted"
              class="downvote pull-left downvote_highlight"
              ng-click="vote(character.slug, prospect.slug, 0)"></div>
            <div ng-show="!prospect.has_downvoted"
              class="downvote pull-left"
              ng-click="vote(character.slug, prospect.slug, -1)"></div>
            <div class="points pull-left">{{ prospect.total }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row greyFbox">
      <div class="center addWidth">
        <div class="btn pointer" 
          ng-click="openDialog('addActorForm', character.slug)">
          Add Actor
        </div>
      </div>
    </div>
  </div>
  <div class="span3 greyAbox staticCol">
    <div class="characterCol row greyCbox">
      <div class="media">
        <div class="text-center namePadding">
          <div class="btn pointer"
            ng-click="openDialog('addCharacterForm')">
            Add Character
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endverbatim %}
{% endblock content %}

{% block overlay %}
{% verbatim %}
<div ng-controller="CastingOverlay">
  <div class="dialog" id="dialog" ></div>

  <div class="formbox hidden" id="addActorForm">
    <div class="closebox pointer" id="closebox" ng-click="closeDialog()">
      X
    </div>
    <form novalidate class="simple-form" name="addActorForm">
      <fieldset>
        <legend>Add Actor</legend>
        <label>Actor Name:</label>
        <input type="text" name="name" 
        ng-model="newactor.name" required/><br/>
        <span class="error" ng-show="addActorForm.name.$error.required">
          Actor Name is Required
        </span><br/>
        <span class="error" ng-show="addActorForm.name.$error.text">
          Not a valid Actor Name
        </span><br/>
        <label>Image URL:</label>
        <input type="url" name="image" 
          ng-model="newactor.image" required/><br/>
        <span class="error" ng-show="addActorForm.image.$error.required">
          Actor Image is Required
        </span><br/>
        <span class="error" ng-show="addActorForm.image.$error.url">
          Not a valid Image URL
        </span><br/>
        <button ng-click="addActor(newactor)" >ADD</button>
      </fieldset>
    </form>
  </div>

  <div class="formbox hidden" id="addCharacterForm">
    <div class="closebox pointer" id="closebox" ng-click="closeDialog()">
      X
    </div>
    <form novalidate class="simple-form" name="addCharacterForm">
      <fieldset>
        <legend>Add Character</legend>
        <label>Character Name:</label>
        <input type="text" name="name" 
        ng-model="newcharacter.name" required/><br/>
        <span class="error"
                ng-show="addCharacterForm.name.$error.required">
          Character Name is Required
        </span><br/>
        <span class="error" ng-show="addCharacterForm.name.$error.text">
          Not a valid Character Name
        </span><br/>
        <label>Image URL:</label>
        <input type="url" name="image" 
        ng-model="newcharacter.image" required/><br/>
        <span class="error"
                ng-show="addCharacterForm.image.$error.required">
          Character Image is Required
        </span><br/>
        <span class="error" ng-show="addCharacterForm.image.$error.url">
          Not a valid Image URL
        </span><br/>
        <button ng-click="addCharacter(newcharacter)" >ADD</button>
      </fieldset>
    </form>
  </div>
</div>
{% endverbatim %}
{% endblock overlay %}

{% block javascript %}
<script>
  Overlay.init();
  angular.element(document).ready(function(){
    castingApp.config(["$httpProvider", function($httpProvider){
      $httpProvider.defaults.headers.common['X-CSRFToken'] = "{{ csrf_token|escapejs}}";
    }]);
  });
  castingApp.constant("DjangoConstants",{
    sessionID: '{{ sessionID }}',
    projectId:'{{ object.slug }}'
  });

</script>
{% endblock javascript %}
