{% extends "base.html" %}
{% block content %}
<div class="row-fluid greyAbox">
  <h2>Casting Projects</h2>
</div>
{% for object in object_list %}
<div class="row-fluid greyFbox paddingp5">
  <a class="pull-left" href="/casting/{{ object.slug }}">
    <h4>{{ object.derived_title }}</h4>
    <div class="row-fluid">
      {% for character in object.characters %}
        <div class="pull-left">
          <img class="smallThumb" src="{{ character.image }}"
                                  title="{{ character.name }}"/>
        </div>
      {% endfor %}
    </div>
  </a>
</div>
{% endfor %}
{% endblock content %}
